<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Newton Raphson - Analisa Numerik</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/animate.css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Main CSS -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Analisa Numerik
  * Template URL: https://bootstrapmade.com/Analisa Numerik-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="sitename"><i class="bi bi-bar-chart-steps me-2"></i> Analisa Numerik</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/bisection">Bisection</a></li>
                    <li><a href="/regula">Regula Falsi</a></li>
                    <li><a href="/newton" class="active">Newton-Raphson</a></li>
                    <li><a href="/secant">Secant</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

        </div>
    </header>

    <main class="main">
        <section id="about" class="about section dark-background">

            <!-- Section Title -->

            <div class="container mt-5">

                <div class="row gy-4">

                    <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">

                        <div class="container section-title" data-aos="fade-up">
                            <h2>Perhitungan</h2>
                            <p>Metode Newton-Raphson</p>
                        </div><!-- End Section Title -->
                        <form method="POST">
                            <div class="form-group">
                                <label for="func" class="form-label">fx</label>
                                <input type="text" id="func" name="func" class="form-control"
                                    placeholder="x**3 + 2*x**2 + 10*x - 20" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="x0" class="form-label">Tebakan Awal (a)</label>
                                <input class="form-control" type="text" class="form-control" id="x0" name="x0"
                                    placeholder="2" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="x1">Tebakan Awal (b)</label>
                                <input class="form-control" type="text" id="x1" name="x1" placeholder="2" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="tol">Toleransi Error</label>
                                <input class="form-control" type="text" id="tol" name="tol" placeholder="0.00001"
                                    required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="max_iter">Maksimum Iterasi</label>
                                <input class="form-control" type="text" id="max_iter" name="max_iter" placeholder="100"
                                    required>
                            </div>
                            <button type="submit" class="read-more mt-2">Hitung</button>
                        </form>
                        
                    </div>

                    <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                        {% if result %}
                        <div class="container section-title" data-aos="fade-up">
                            <h2>Hasil Perhitungan</h2>
                            
                            <p>fx = {{ func_input }}</p>
                        </div>
                        <table class="table">
                            <tr>
                                <th>Iterasi</th>
                                <th>x</th>
                                <th>f(x)</th>
                                <th>df(x)</th>
                                <th>x1</th>
                                <th>Error</th>
                            </tr>
                            {% for row in result %}
                            {% if row is string %}
                            <tr>
                                <td colspan="6">{{ row }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{ '{:.6f}'.format(row[1]) }}</td>
                                <td>{{ '{:.6f}'.format(row[2]) }}</td>
                                <td>{{ '{:.6f}'.format(row[3]) }}</td>
                                <td>{{ '{:.6f}'.format(row[4]) }}</td>
                                <td>{{ '{:.6f}'.format(row[5]) }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer id="footer" class="footer dark-background">
        <div class="container">
            <h3 class="sitename"><i class="bi bi-bar-chart-steps me-3"></i>Analisa Numerik</h3>
            <div class="container">
                <div class="copyright">
                    <span>Copyright</span> <strong class="px-1 sitename"><i
                            class="bi bi-bar-chart-steps me-2"></i>Analisa Numerik</strong> <span>All Rights
                        Reserved</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>

    <!-- Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>